<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>AIzaSyCroVKRSSh7r2xg-VOdukftu4DfL_iAHLY</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.354842958637-uqfeods9pk4b1b5uhptlga4oaecphu7u</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-Black.otf</string>
		<string>SourceSansPro-Bold.oft</string>
		<string>SourceSansPro-Regular.oft</string>
		<string>SourceSansPro-ExtraLight.otf</string>
		<string>SourceSansPro-Light.otf</string>
		<string>SourceSansPro-Semibold.otf</string>
	</array>
</dict>
</plist>
